/*-- FUNCTIONALITY BEGIN --*/
div[hidden], span[hidden], pre[hidden], [id^=fc2-meta-] { display: none !important; }

.mobile .card {
    --canvas: #f5f5f5;
    --canvas-elevated: white;
    --fg: #020202;
    --border-focus: #3b82f6;
    --border: #c4c4c4;
    --button-bg:#fcfcfc;
    --fg-faint: #afafaf;
    --selected-bg: rgba(214, 214, 214, 0.5);
}
.mobile .card.night_mode {
    --canvas: #2c2c2c;
    --canvas-elevated: #1e1e1e;
    --fg: #d4d4d4;
    --border-focus: #3b82f6;
    --border: #202020;
    --button-bg:#404040;
    --fg-faint: #545454;
    --selected-bg: rgba(147, 197, 253, 0.5);
}

.card, .card.night_mode {
    display: flex;
    position: fixed !important; top: 0; bottom: 0; left: 0; right: 0;
    margin: 0px;
    font-family: Arial; font-size: 20px;
    color: var(--fg); background-color: var(--canvas-elevated);
}
.card.night_mode {
    --canvas-elevated: #1e1e1e;
    --fg: #d4d4d4;
}

#qa, #content {
    display: flex; flex: 1 1; flex-flow: column nowrap;
    overflow: auto;
    margin: 0px;
}

#fc2-title {
    flex: 0 0;
    margin: 10px 10px 0px 10px;
    border-bottom: solid var(--fg) 2px;
    text-transform: uppercase; font-weight: bold;
}
#fc2-viewport {
    display: flex; flex: 1 1; flex-flow: column nowrap;
    overflow: auto;
    position: relative;
}
    #fc2-content {
        display: none; flex: 1 1;
        margin: 10px;
    }
        span.cloze, span.cloze-inactive {
            display: block;
            min-width: 100px; min-height: 0.5em;
            margin: 1px; padding : 5px;
            vertical-align: middle;
            border: 2px solid var(--border);
        }
        span.cloze.hide, span.cloze-inactive.hide {
            display: inline-block;
        }
        span.cloze { border: 2px solid var(--border-focus) }
        .front span.cloze { background-color: var(--canvas); }
        .back span.cloze { background-color: var(--canvas-elevated); }
        span.cloze-inactive { background-color: var(--canvas); }

    #fc2-content-placeholder { flex: 1 1; }
    #fc2-additional {
        display: flex; flex: 0 0; flex-flow: column nowrap;
        border-top: 2px solid var(--fg);
        margin: 0px 10px 0px 10px;
    }
        .fc2-additional-header {
            display: block;
            cursor: pointer;
            padding-top: 5px;
            font-weight: bold; text-transform: uppercase;
        }
        .fc2-additional-content {
            display: block;
            margin-bottom: 10px; padding: 5px;
            border: 1px solid var(--border);
            background-color: var(--canvas);
        }
        .fc2-additional-content * { pointer-events: none; }
#fc2-search-panel {
    display: flex; flex-flow: row nowrap;
    z-index: 3;
    border-top: 1px solid var(--border);
    margin: 2px; padding: 2px;
}
    #fc2-search-field {flex: 1 1; height: 20px;}
    #fc2-search-btn {
        flex: 0 0;
        margin-left: 5px; padding: 2px;
        border: 1px solid var(--border); border-radius: 5px;
        font-size: 12px; line-height: 20px;
        background-color: var(--button-bg);
    }
    #fc2-search-btn:active {background-color: var(--fg-faint);}
    .fc2-search-matches {
        position: absolute; z-index: 1;
        vertical-align: top;
        background-color: var(--selected-bg); color: var(--fg-faint);
    }
    .fc2-search-match {
        position: absolute; z-index: 1;
        vertical-align: top;
        background-color: var(--selected-bg);
    }
#fc2-log-panel {
    display: flex; flex: initial; flex-flow: column nowrap;
    z-index: 3;
    height: 100px; overflow: auto;
    margin: 0px;
    font-size: 10px; word-wrap: break-word; white-space: pre-wrap;
    background-color: #80000080;
}
#fc2-show-all {
    flex: 0 0;
    z-index: 3;
    padding: 5px;
    text-align: center; text-transform: uppercase; font-size: 15px; font-weight: bold;
    background-color: var(--canvas); color: var(--fg);
    border-bottom: 1px solid var(--fg);
    cursor: pointer;
}

#fc2-footer {z-index: 3; flex: 0 0;}
	#fc2-legends {display: flex; flex-flow: row nowrap;}
		.fc2-legend {
            flex: 1 1;
            vertical-align: center; text-align: center;
            text-transform: uppercase; font-size: 10px; font-weight: bold;
            background-color: #465A65; color: white;
        }
        .fc2-legend:not(:first-child) {border-left: 1px solid white;}
	#fc2-flags {display: flex; flex-flow: row nowrap}
		.fc2-flag {
            flex: 1 1 100%;
            font-size: 10px; text-transform: uppercase; text-align: center;
            color: black;
        }

#fc2-nav-toggle-all {
    position: fixed; z-index: 2; top: 0; left: 0; right: 0; height: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
}
#fc2-nav-prev-cloze, #fc2-nav-next-cloze {
    position: fixed; z-index: 2; top: 0; bottom: 0; width: 30px;
    cursor: pointer;
    background-color: transparent;
}
#fc2-nav-prev-cloze {left: 0;}
#fc2-nav-next-cloze {right: 0;}
/*-- FUNCTIONALITY END --*/

/*-- CONFIGURATION BEGIN --*/
/* =======================================================
Look and feel configurations, changing/deleting will not break functionality (although incoherrent styling will make things look strange).
========================================================= */

/* NAVIGATION AREA CONFIGURATION ======================================
Top and side navigation area configuration, change size by increasing height/width
#fc2-nav-toggle-all
#fc2-nav-prev-cloze
#fc2-nav-next-cloze
*/

/* CARD GENERAL STYLING =========================================== */
/* General card tyling
.card
.card.night_mode note: for night_mode .night_mode must be explicitly
                 stated as Anki otherwise overrides user settings
#fc2-content
*/

/* TITLE FIELD STYLING ============================================= */
/* Style the optional title field
#fc2-title
*/


/* TEXT FIELD STYLING ============================================= */
/* General card styling
*/

/* CLOZE STYLING =============================================== */
/* Style active and inactive clozes on front and back
span.cloze / span.cloze-inactive
.front / .back
.hide
 */

/* SEARCH STYLING =============================================== */
/* Style search matches
.search-matches
.search-match
*/

/* SHOW ALL BUTTON ============================================== */
/* Style the optional "show all" button
#fc2-show-all-btn
*/

/* ADDITIONAL FIELD STYLING ========================================= */
/* Style the optional additional fields
#fc2-additional
.additional-header
.additional-content
*/

/* SYMBOL LEGEND AND FLAGS FOOTER STYLING =========================== */
/* Style the optional legend
#fc2-footer
#fc2-legends (the containing div)
.fc2-legend (the individual legend entries)
#fc2-flags (the containing div)
.fc2-flag (the individual flag entries)
*/

/* MISCELLANEOUS STYLING, HAS NOTHING TO DO WITH FLEXIBLE CLOZE ============== */
/* Highlight other text runs */
code, kbd, var, samp, tt { background-color: var(--canvas-code); }

/* reduce whitespace and indents for lists */
li { margin: 0; }
ul, ol { padding: 0em 0em 0em 2em; margin-top: 0.5em; margin-bottom: 0.5em; }

/* Reduce first list indent and spacing when a cloze begins with a list */
span.cloze > ul:first-child, span.cloze-inactive > ul:first-child
span.cloze > ol:first-child, span.cloze-inactive > ol:first-child
span.cloze > br:first-child + ul, span.cloze-inactive > br:first-child + ul,
span.cloze > br:first-child + ol, span.cloze-inactive > br:first-child + ol {
    padding: 0em 0em 0em 1em; margin-top: 0em; margin-bottom: 0em;
}

/* Reduce list indents and spacing when in a table */
td ul, td ol {
    padding: 0em 0em 0em 1em; margin-top: 0em; margin-bottom: 0em;
}

/* Default table formating */
table:not([class]) { border-collapse: collapse; width: 100%; margin-bottom: 20px; margin-top: 5px; }
th:not([class]) { border: 1px solid var(--border); font-weight: bold; text-transform: uppercase; background-color: var(--button-bg); }
td:not([class]) { border: 1px solid var(--border); }

/* Default header formating */
h1, h2, h3, h4, h5, h6 { font-size: 20px; margin: 0px; }
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child),
h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
    margin-top: 20px;
}
h1 { font-weight: 900; text-transform: uppercase; }
h2 { font-weight: 900; }
h3 { font-weight: 900; font-style: italic; }
h4 { text-decoration: underline; }
h5 { font-style: italic; text-decoration: underline; }
h6 { font-style: italic }

/* Stronger bold weight */
b { font-weight: bolder; }

/* Definition lists formating */
dt { font-weight: bold; }
dd { margin-bottom: 10px; }