/*-- FCZ 1632356464 BEGIN [1.10] --*/
/*-- FUNCTIONALITY BEGIN --*/
/* Content between FCZ begin and end will be overwritten on add-on update. As updates will not update the styling and layout for existing users the latest default version of layout and complete styling can be found in the addon directory */
.card
{  position: fixed !important; top: 0; bottom: 0; left: 0; right: 0; display: flex; }

#qa, #content
{ flex: 1 1; display: flex; flex-flow: column nowrap; overflow: auto; margin: 0px; }

#fcz-title, #title { flex: 0 0; }
#fcz-scroll-area { flex: 1 1; display: flex; flex-flow: column nowrap; overflow: auto; }
    #fcz-content { flex: 1 1; }
    #fcz-additional { flex: 0 0; z-index: 2; }
        .additional-header { cursor: pointer; }
#fcz-show-all { flex: 0 0; cursor: pointer; }

#fcz-footer { flex: 0 0; z-index: 2; }
	#fcz-legend-footer { display: flex; flex-flow: row nowrap; }
		.fcz-legend-entry, #fcz-legent-entry {flex: 1 1;}
	#fcz-flag-footer { display: flex; flex-flow: row nowrap }
		.fcz-flag { flex: 1 1 100%; }

#nav-toggle-all { position: fixed; top: 0; left: 0; right: 0;  z-index: 1; }
#nav-prev-cloze { position: fixed;  top: 0; left: 0; bottom: 0;  z-index: 1; }
#nav-next-cloze { position: fixed;  top: 0; right: 0; bottom: 0;  z-index: 1; }
	
.fcz-field-hide   { display: none; }
.fcz-field-show   { display: block; }
[state="hide"] > .fcz-cloze-prompt {display:inline}
[state="hint"] > .fcz-cloze-prompt {display:none}
[state="show"] > .fcz-cloze-prompt {display:none}
[state="hide"] > .fcz-cloze-hint {display:none}
[state="hint"] > .fcz-cloze-hint {display:inline}
[state="show"] > .fcz-cloze-hint {display:none}
[state="hide"] > .fcz-cloze-content {display:none}
[state="hint"] > .fcz-cloze-content {display:none}
[state="show"] > .fcz-cloze-content {display:inline}
/*-- FUNCTIONALITY END --*/
/*-- STYLE BEGIN --*/
/* =======================================================
Below are configurations for the look and feel, changing/deleting these values will not break the functionality (although incoherrent styling will make things strange).
========================================================= */

/* FLEXIBLE CLOZE CONFIGURATION=======================================
--cloze-element: Type of HTML element (div or span) to enclose clozes in
--inactive-prompt: Optional string to show on hidden inactive clozes
--active-prompt: Optional string to show on hidden active clozes
--expose: Character(s) and position to mark exposed clozes (always display) e.g. '--expose: ! begin;' means {{c1::!This will always be shown when inactive}}. First character(s) must be the character(s) to mark expose clozes, position options are pre, begin, end, post (correspoding to pre{{c1::begin xxx end}}post
--scroll: Scroll behaviour, min will scroll as little as possible to display cloze
  Scroll on initial card show/flip: center, min, none or context
  Scroll on iteration (next/previous): iterate-center, iterate-min, iterate-none or iterate-context
  Scroll on click: click-center, click-min, click-none or click-context
--iterate: Iteration behaviour
  Which clozes to iterate over: active, inactive or all
  Always start from top (not from last clicked): top
  Loop iteration (restart on last cloze): loop
--key-next-cloze/previous-cloze/toggle-all: Keyboard shortcuts
--show: When to automatically show inactive and non-cloze fields
  Inactive clozes: inactive-front, inactive-back
  Additional fields: additional-front, additional-back
  Information field: info-front, info-back
*/
.fcz-config {
    --cloze-element: div;
    --inactive-prompt: ;
    --active-prompt: ;
    --expose: ! begin;
    --scroll: front-context back-min iterate-min click-min;
    --iterate: active hide loop top;
    --key-next-cloze: j;
    --key-previous-cloze: h;
    --key-toggle-all: k;
    --show: additional-back info-front info-back;
}


/* NAVIGATION AREA CONFIGURATION ======================================
Top bar navigation area configuration, increase size by increasing height */
.nav-area-top
{ height: 30px; cursor: pointer; background-color: transparent; }

/* Top bar navigation area configuration, increase size by increasing width */
.nav-area-side
{ width: 30px; cursor: pointer; background-color: transparent; }


/* CARD GENERAL STYLING =========================================== */
.card
{ font-family: Arial; font-size: 20px;  color: black; background-color: white; margin: 0px; }


/* TITLE FIELD STYLING ============================================= */
#fcz-title, .title
{ border-bottom: solid black 3px; text-transform: uppercase; font-weight: bold; margin: 10px 10px 0px 10px; }


/* TEXT FIELD STYLING ============================================= */
#fcz-content
{ margin: 10px; }


/* CLOZE STYLING =============================================== */
/* Active clozes base look and feel, valid on front and back and all states */
.fcz-active
{ margin: 1px; padding : 5px; vertical-align: middle; min-width: 100px; min-height: 0.5em;
border-color: black; border-width: 2px; border-style: solid; }

/* Display form and style of active clozes on front */
.fcz-front .fcz-active
{ background-color: #FA8072; }

/* Display form and style of active clozes on back */
.fcz-back .fcz-active
{ background-color: #D0F0C0; }

/* Display form and style of hint-state active clozes (front and back), change to "inline" for a continuous line */
.fcz-active[state=hide]
{ display: inline-block; }

/* Display form and style of hint-state active clozes (front and back), change to "inline" for a continuous line */
.fcz-active[state=hint]
{ display: inline-block; }

/* Display form and style of show-state active clozes (front and back), change to "inline" for a continuous line */
.fcz-active[state=show]
{ display: block; }

/* Inactive clozes base look and feel, valid on front and back and all states  */
.fcz-inactive
{ margin: 1px; padding : 5px; vertical-align: middle; min-width: 100px; min-height: 0.5em;
border-color: black; border-width: 1px; border-style: solid; }

/* Display form and style of inactive clozes on front */
.fcz-front .fcz-inactive
{ background-color: #F0F0F0; }

/* Display form and style of inactive clozes on back */
.fcz-back .fcz-inactive
{ background-color: #F0F0F0; }

/* Display form of hide-state inactive clozes (front and back), change to "inline" for a continuous line */
.fcz-inactive[state=hide]
{ display: inline-block; }

/* Display form of hint-state inactive clozes (front and back), change to "inline" for a continuous line */
.fcz-inactive[state=hint]
{ display: inline-block; }

/* Display form of show-state inactive clozes (front and back), change to "inline" for a continuous line */
.fcz-inactive[state=show]
{ display: block; }

/* Exposed clozes base look and feel */
.fcz-expose
{ display: inline; }


/* ANSWER SIDE STYLING ============================================== */
/* Show all button/bar styling (and if visible or not) */
#fcz-show-all, .fcz-show-all-btn
{ display: none;  background-color: #465A65; color: white; text-align: center; text-transform: uppercase;
font-size: 15px; font-weight: bold; padding: 5px; border-bottom: 1px solid white; }


/* ADDITIONAL FIELD STYLING ========================================= */
/* Look and field of the additional field area */
#fcz-additional
{ border-top: 3px solid black; margin: 0px 10px 0px 10px; }

/* Additional field title look and feel */
.additional-header
{ padding-top: 5px; font-weight: bold; text-transform: uppercase; color: black; display: block; }

/* Additional field content look and feel */
.additional-content
{ margin-bottom: 10px; border: 1px solid; background-color: #F0F0F0; padding: 5px; }


/* SYMBOL LEGEND FOOTER STYLING ===================================== */
/* Base symbol legend look and feel */
.fcz-legend-entry
{text-align: center; text-transform: uppercase; font-size: 10px; font-weight: bold; vertical-align: center; background-color: #465A65; color: white; border-left: 1px solid white;}

/* Specific styling of first entry/div (to avaid a white border on left in default styling) */
.fcz-legend-entry:first-child
{ border-left: unset; }

/* Specific styling of first letter in each entry (make symbol bigger) */
.fcz-legend-entry:first-letter
{ font-size: 150%; }


/* FLAG LEGEND FOOTER STYLING ======================================= */
/* Flag legend general look and feel */
#fcz-flag-footer
{text-align: center; text-transform: uppercase; font-size: 10px; font-weight: bold; }

/* Red flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-red, #fcz-flag-red::before
{ background-color: #FD7C6E; content: "Incorrect"; }

/* Orange flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-orange, #fcz-flag-orange::before
{ background-color: #FAA76C; content: "Duplicate"; }

/* Green flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-green, #fcz-flag-green::before
{background-color: #81A984; content: "Formating"; }

/* Blue flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-blue, #fcz-flag-blue::before
{ background-color: #ADB9CA; content: "Rephrase"; }

/* Pink flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-pink, #fcz-flag-pink::before
{ background-color: #D89B9B; content: "Discard"; }

/* Turquoise flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-turquoise, #fcz-flag-turquoise::before
{ background-color: #33B3A6; content: "Consolidate"; }

/* Purple flag legend look and feel, set content to whatever value that should be displayed */
#fcz-flag-purple, #fcz-flag-purple::before
{ background-color: #A64CA6; content: "Mark"; }
/*-- STYLE END --*/
/*-- FCZ 1632356464 END --*/


/* ====================================================== */
/* Miscellaneous sensible styling of various elements, remove/change as needed ======= */
code, kbd, var, samp, tt
{ background-color: #F0F0F0; }
/*code { background-color: #294958; color: #FFFFFF; }*/


/* ======================================================= */
/* Sensible compression of output - reduce white space generally - remove/change as needed  */
/* reduce whitespace and indents for lists */
li
{ margin: 0; }
ul, ol
{ padding: 0em 0em 0em 2em; margin-top: 0.5em; margin-bottom: 0.5em; }

/* Reduce first list indent and spacing when a cloze begins with a list */
div[id^="fcz-id-"] > ul:first-child, div[id^="fcz-id-"] > ol:first-child,
div[id^="fcz-id-"] > br:first-child + ul, div[id^="fcz-id-"] > br:first-child + ol
{ padding: 0em 0em 0em 1em; margin-top: 0em; margin-bottom: 0em; }

/* Reduce list indents and spacing when in a table */
td ul, td ol, td ul ul, td ol ol, td ul ul ul, td ol ol ol
{ padding: 0em 0em 0em 1em; margin-top: 0em; margin-bottom: 0em; }

/* Default table formating */
table:not([class]) { border-collapse: collapse; width: 100%; margin-bottom: 20px; margin-top: 5px; }
th:not([class]) { border: 1px solid black; font-weight: bold; text-transform: uppercase; background-color: lightgray; }
td:not([class]) { border: 1px solid black; }

/* Default header formating */
h1, h2, h3, h4, h5, h6 { font-size: 20px; margin: 0px; }
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) { margin-top: 20px; }
h1 { font-weight: 900; text-transform: uppercase; }
h2 { font-weight: 900; }
h3 { font-weight: 900; font-style: italic; }
h4 { text-decoration: underline; }
h5 { font-style: italic; text-decoration: underline; }
h6 { font-style: italic }

b { font-weight: bolder; }

/* Definition lists formating */
dt { font-weight: bold; }
dd { margin-bottom: 10px; }